<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
    <h1>My Recipes are great!!</h1>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe: ${recipes}">
                <td th:text="${recipe.getId()}">123</td>
                <td th:text="${recipe.getDescription()}">Description</td>
            </tr>
        </tbody>
    </table>
</body>
</html>